@model Courses.Models.Instructor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Instructor Details</h1>
    <p>Name: <span>@Model.Name</span></p>
    <hr />

    <a href="/Course/CreateByInstructorId/@Model.Id">Add a course for this Instructor</a>
    <a href="/Instructor/Index">Return to Instructor List</a>

</body>
</html>
