@model IEnumerable<Courses.Models.Instructor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instructors</title>
</head>
<body>
    <h1>Instructors List</h1>
    @foreach (var instructor in Model)
    {
        <p>Title: <a href="/Instructor/Details/@instructor.Id">@instructor.Name </a></p>
        <hr />
    }

</body>
</html>
