@model Courses.Models.Course

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Course Details</h1>
    <p>Title: <span>@Model.Name</span></p>
    <p>Instructor: <a href="/Instructor/Details/@Model.InstructorId">@Model.Instructor.Name</a></p>
    <p>Description: <span>@Model.Description</span></p>
    <hr />
    <a href="/Course/Index">Return to Courses List</a>

</body>
</html>
