@model IEnumerable<Courses.Models.Course>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <h1>Courses List</h1>
    @foreach (var course in Model)
    {
        <p>Title: <a href="/Course/Details/@course.Id">@course.Name </a></p>
        <hr />
    }

</body>
</html>
