@model IEnumerable<Courses.Models.Course>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <h1>Courses List</h1>
    @foreach (var course in Model)
    {
        <div>
            <p><a href="/Course/Details/@course.Id">@course.Name </a></p>
            <a href="/Course/Delete/@course.Id">Delete</a>
        </div>
        <hr />
    }
    <p><a href="/Course/Create">Add a Course</a></p>
    <p><a href="/Instructor/Index">Go to Instructor List</a></p>

</body>
</html>
