@model IEnumerable<Courses.Models.Course>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <h1>Courses List</h1>
    @foreach(var course in Model)
    {
        <p>Title: <span>@course.Name</span></p>
        <p>Description: <span>@course.Description</span></p>
        <hr />
    }
    
</body>
</html>
