@model Courses.Models.Course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <h1>Courses List</h1>
    <p>Title: <span>@Model.Name</span></p>
    <p>Description: <span>@Model.Description</span></p>
    
</body>
</html>
